<div class="card border border-primary shadow-0 ">
  <div class="card-body">
    <h5 class="card-title">About</h5>
    <p class="card-text">
      App for write task
    </p>
  </div>
  <div class="card-footer">
      <a href="/" class="btn btn-primary"><i class="fas fa-arrow-left mx-2"></i>Back to home</a>
  </div>
</div>